<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }} min-h-screen flex flex-col">
    <!-- {% render "navbar", metadata: site.metadata, page: page %} -->

    <main class="flex-1 w-3/5">
      {{ content }}
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
