---
layout: default
---

<h1 id="hello">&nbsp;</h1>

{{ content }}

<div class="grid grid-cols-1 md:grid-cols-2">
    <a href="/about" class="home-card">
        <h2 class="mb-3">About</h2>
        <p>Everyting you (n)ever wanted to know about my person</p>
    </a>
    <a href="/projects" class="home-card">
        <h2 class="mb-3">Projects</h2>
        <p>Information on various things I have in the past or am currently working on</p>
    </a>
    <a href="/posts" class="home-card">
        <h2 class="mb-3">Blog</h2>
        <p>More or less thought-through essays on topics that excite me</p>
    </a>
    <a href="/readinglist" class="home-card">
        <h2 class="mb-3">Reading</h2>
        <p>Semi-complete list of books that I recently have come across</p>
    </a>
</div>
