---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description=""
  pubDate={new Date("February 13 2025")}
  heroImage="/pascalwengerter.jpg"
>
  <p>Hey there!</p>
  <p>
    My name is Pascal, I currently live and work in Freiburg im Breisgau,
    Germany. I'm a self-taught software developer, but have various skills in
    other areas such as business administration, coaching and design.
  </p>
  <p>
    In the last years, I've co-founded the Open Source startup
    <a href="https://matestack.io/" target="_blank">Matestack</a>. Previously,
    I've worked for
    <a href="https://www.linkedin.com/company/jobify_net" target="_blank">
      Jobify
    </a>,
    <a href="https://rockyourlife.de/" target="_blank">ROCK YOUR LIFE!</a>,
    <a href="https://owncloud.com" target="_blank">ownCloud</a>, and the green
    energy provider
    <a href="https://www.polarstern-energie.de/about-us/" target="_blank">
      Polarstern</a
    >.
  </p>
  <p>
    You'd like to talk to me? Great! Feel free to
    <a href="https://calendly.com/pascalwengerter" target="_blank">
      schedule a call
    </a>
    or
    <a href="https://linkedin.com/in/pascalwengerter" target="_blank">
      reach out via LinkedIn
    </a>
  </p>
</Layout>
