---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Digital mind, thriving at the intersection of software engineering, design and human potential."
  pubDate={new Date("February 19 2026")}
  heroImage="/pascalwengerter.jpg"
>
  <p>Hey there!</p>
  <p>
    My name is Pascal, I currently live and work in Freiburg im Breisgau,
    Germany. I'm a self-taught software developer, thriving at the intersection
    of software engineering, design and human potential.
  </p>
  <p>
    Over the years, I've been involved with
    <a href="https://rockyourlife.de/" target="_blank">ROCK YOUR LIFE!</a>
    in various roles, worked at
    <a href="https://www.linkedin.com/company/jobify_net" target="_blank">
      Jobify</a>,
    co-founded the Open Source startup
    <a href="https://matestack.io/" target="_blank">Matestack</a>,
    worked as a software engineer at
    <a href="https://owncloud.com" target="_blank">ownCloud</a> and
    <a href="https://www.polarstern-energie.de/about-us/" target="_blank">
      Polarstern</a>,
    and taken on freelance web development projects along the way.
  </p>
  <p>
    Currently, I'm helping build
    <a href="https://intalento.de" target="_blank">intalento</a>, a corporate
    startup within
    <a href="https://www.haufegroup.com" target="_blank">Haufe Group</a>,
    looking after product, legal and tech.
  </p>
  <p>
    You'd like to talk to me? Great! Feel free to
    <a href="https://calendly.com/pascalwengerter" target="_blank">
      schedule a call
    </a>
    or
    <a href="https://linkedin.com/in/pascalwengerter" target="_blank">
      reach out via LinkedIn</a>.
  </p>
</Layout>
