---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Hello, friend! 👋</h1>
      <p>Glad you made it here!</p>
      <p>
        Find out more <a href="/about">about me</a> or what I'm currently <a
          href="/projects">working on</a
        >. There's also a
        <a href="/posts">blog</a> in the making, and my
        <a href="/reading-list">reading list</a> since I'm a sucker for books!
      </p>
      <h2>Contact</h2>
      <p>
        You can find me on
        <a href="https://linkedin.com/in/pascalwengerter/">LinkedIn</a> or just send
        me an <a href="mailto:heyyy@pascal.rocks">email</a>.
      </p>
    </main>
    <Footer />
  </body>
</html>
