$body-background: midnightblue;
$body-background-secondary: oldlace;
$body-color: #FFFAFA;

body {
  background-color: $body-color;
  font-family: sans-serif;
  @apply text-gray-900;
}

nav, footer {
  text-align: center;
}

main, footer {
  margin: 2rem auto;
  max-width: 60rem;
}

main .content {
  margin: 0 2rem;
}

h1 {
  padding: 3rem;
  border-radius: 0.9rem;
  background-color: #010101;
  color: lime;
  @apply text-4xl font-bold mb-10;
}

h2 {
  @apply text-2xl font-bold mt-4 mb-3;
}

h3 {
  @apply text-xl mt-3 mb-2;
}

.page-card, .post-card, .about-card {
  background-color: $body-background-secondary;
  @apply shadow-lg m-4;
}

.page-card, .post-card {
  @apply py-7 px-16;
}

p {
  line-height: 2rem;
}

a {
  background-color: $body-background;
  padding: 0.25rem;
  color: $body-color;
  &:hover {
    opacity: 0.5;
  }
}

.about-img {
  background-image: url('/images/pascalwengerter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  @apply h-96 md:h-full rounded-t-2xl md:rounded-tr-none md:rounded-l-2xl;
}

.about-card {
  @apply rounded-2xl;
}

footer {
  border-top: 3px solid $body-background;
}

details {
  text-align: left;
}

details > summary {
  text-align: center;
  list-style: none;
  color: $body-background;
  &:hover {
    text-decoration: underline;
  }
}
details > summary::-webkit-details-marker {
  display: none;
}