$body-background: midnightblue;
$body-background-secondary: oldlace;
$body-color: #FFFAFA;

body {
  background-color: $body-color;
  font-family: sans-serif;
  @apply text-gray-900;
}

nav, footer {
  text-align: center;
}

main, footer {
  margin: 2rem auto;
  max-width: 60rem;
}

main .content {
  @apply my-0 mx-4 md:mx-8;
}

h1 {
  @apply text-4xl font-bold mb-10;
}

.h1-code {
  padding: 3rem;
  border-radius: 0.9rem;
  background-color: #010101;
  color: lime;
}

h2 {
  @apply text-2xl font-bold mt-4 mb-3;
}

h3 {
  @apply text-xl mt-3 mb-2;
}

p {
  line-height: 1.7rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

a {
  background-color: $body-background;
  padding: 0.25rem;
  color: $body-color;
  &:hover {
    opacity: 0.5;
  }
}

.page-card, .post-card, .about-card {
  background-color: $body-background-secondary;
  -moz-box-shadow:    inset 0 0 10px $body-background-secondary;
  -webkit-box-shadow: inset 0 0 10px $body-background-secondary;
  box-shadow:         inset 0 0 10px $body-background-secondary;
  border: 2px solid $body-background;
  background: white;
  @apply shadow-lg m-4 rounded-2xl;
}

.page-card, .post-card {
  @apply py-7 px-8 md:px-16;
}

.post-card {
  img {
    width: 100%;
    height: auto;
  }
}

.about-img {
  background-image: url('/images/pascalwengerter.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  @apply h-96 md:h-full rounded-t-2xl md:rounded-tr-none md:rounded-l-2xl;
}

footer {
  border-top: 3px solid $body-background;
}

details {
  text-align: left;
}

details > summary {
  text-align: center;
  list-style: none;
  color: $body-background;
  &:hover {
    text-decoration: underline;
  }
}
details > summary::-webkit-details-marker {
  display: none;
}

.postslist {
  a {
    background: transparent;
    color: $body-background;
    display: block;
    @apply py-3;
  }
}

@media (prefers-color-scheme: dark) {
  body,  .page-card, .post-card, .about-card {
    background-color: #010101;
    color: $body-background-secondary;
  }
  h1 {
    border: 2px solid limegreen;
  }
  details > summary {
    background-color: $body-background;
    color: $body-color;
    margin-top: 1rem;
    padding: 0.25rem;
  }
}
